%h1.text-center
  Login
.row
  .col-md-4.col-md-offset-4.form-group
    = form_for :session, url: { controller: "sessions", action: "create"} do |f|
      = f.label :email
      = f.text_field :email, :class => "form-control"
      = f.label :password
      = f.password_field :password, :class => "form-control"
      = f.submit "Login", :class => "btn btn-primary"
.row
  .col-md-2.col-md-offset-4
    = link_to "Create a New User", new_user_path, :class => "form-control btn btn-primary", :id => "new-user-button"