-if !@movies.empty?
  %h1
    %i.fa.fa-film
    Movies
  - @movies.each do |i|
    %ul.item_listing
      %li
        %h2
          %a{:href => i.link}= i.name
        %p= link_to "(Delete)", item_path(i.id), method: :delete
      %li
        %h3= "Rotten Tomato Score: #{i.rotten_score}"
-if !@music.empty?
  %h1
    %i.fa.fa-music
    Music
  - @music.each do |i|
    %ul.item_listing
      %li
        %h2
          %a{:href => i.link}= i.name
        %p= link_to "(Delete)", item_path(i.id), method: :delete
-if !@books.empty?
  %h1
    %i.fa.fa-book
    Books
  - @books.each do |i|
    %ul.item_listing
      %li
        %h2
          %a{:href => i.link}= i.name
        %p= link_to "(Delete)", item_path(i.id), method: :delete