= form_for :item, :url => {:controller => 'items', :action => 'create'} do |f|
  = f.label :name
  = f.text_field :name
  = f.label :type
  = f.select :type, [["Movie", "label 1"], ["Music", "label_2"], ["Book", "label_3"]]
  = f.submit